<style>
     footer{
          position: fixed;
          bottom: 10px;
          left: 250px;
     }
</style>
<footer style="text-align: center;"> 
     <img height="80px" width="80px" src="https://attachment-downloads-prod.s3.amazonaws.com/ubi_faq.png" alt="">
     <blockquote>"Site best viewed at 1024x768 resolution in I.E. 10 or above, Google Chrome 40 or above, Firefox 37 or above, Safari 8 or above."</blockquote>
     <span><a href="">Terms and Conditions</a> &VerticalLine;
     <a href="">Disclaimer</a> &VerticalLine;
     <a href="">Privacy Policy</a></span>
     <p>Copyright © Union Bank of India, All rights reserved.</p>
</footer>