<style>
     nav{
          display: flex;
          justify-content: space-evenly;
          margin: 10px 50px;
     }
</style>
<nav>
     <a href="{% url 'index' %}"><img height="80px" width="80px" src="https://tse4.mm.bing.net/th?id=OIP.WnK1vJs2BjGqyaFWdwdwiwHaHa&pid=Api&P=0&h=180" alt=""></a>
     <img height="100px" width="230px" src="https://tse2.mm.bing.net/th?id=OIP.3aCyOWiLJ2AdIxXhRvkMNwHaCC&pid=Api&P=0&h=180" alt="">
     <img height="110px" width="200px" src="https://tse3.mm.bing.net/th?id=OIP.LbWRw4viOUaDBQxhfcgvMAHaEK&pid=Api&P=0&h=180" alt="">
     <h2>Punjagutta,Hyderabad,500081</h2>
     <p>All-India Toll-free Number <br>
     <img src="https://www.unionbankonline.co.in/images/toll-free.png" alt="">
     <b>1800 222 243 / 1800 425 15 15</b>
     </p>
</nav>
