{% extends 'main.html' %}
{% block content %}

<h1 style="text-align: center;">Balance</h1>

<form action="" method="post" id="pin">
     {% csrf_token %}
     <table cellpadding="18px">
          <tr>
               <td><label for="">Account Number:</label></td>
               <td><input type="number" name="account_no" id=""></td>
          </tr> 
          <tr>
               <td><label for="" >Pin:</label></td>
               <td><input type="number" name="pin" id="" ></td>
          </tr> 
     </table>
     <button type="submit" id="sub">submit</button>
</form>

<!-- <h1>Balance Amount:{{amount}}</h1> -->
{% endblock content %}